@import url('https://fonts.googleapis.com/css2?family=Robot&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap');

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}



input {
    padding: 8px;
    margin: 20px;
    font-size: 12px;
    width: 240px;
    border:none;
    border-bottom:1px solid black;
    
    
}
.forgot-password{
    margin-left: 180px;
    padding-bottom: 10px;
}

button {
    background-color: #007bff;
    color: #fff;
    margin: 10px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    width: 280px;
    
}

button:hover {
    background-color: #0056b3;
}

.font-2{
    font-family:'Roboto', sans-serif ;
}
.font-1{
    font-family:'Baloo Bhaina 2', cursive; 
}

.login
 {
    align-items: center;
    color: #007bff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bolder;
    margin-left: 35%;
    margin-top: 5px;

}

.login:hover
 {
    text-decoration: underline;
}

