<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="register.component.css">
</head>
<body>
    <div class="login-container">
        <h2 class="font-2">Register</h2>
        <form  [formGroup]="signupForm" (ngSubmit)="onSignup()" autocomplete="off">
            <div class="input-group">
                <input formControlName="fullName"  type="text" id="Fullname" name="Fullname" placeholder="Full Name" required>
            </div>
            <small *ngIf="signupForm.controls['fullName'].dirty && signupForm.hasError('required', 'fullName')">*Username is required</small>
            
            <div class="input-group">
                <input formControlName="email" type="email" id="email" name="email" placeholder="Email ID" required>
            </div>
            <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')">*Email is required</small>
            <div class="input-group">
                <input formControlName="password"  id="pass" type="password"  name="password" placeholder="Password" required><br>
            </div>
            <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')">*password is required</small>
             <div class="input-group">
                <input formControlName="cPassword" type="password"  name="password" placeholder="Confirm Password" required><br>
                
            </div>
            <small *ngIf="signupForm.controls['cPassword'].dirty && signupForm.hasError('required', 'cPassword')">*confirm password is required</small> 
            
            <div class="input-group"> 
                <button  class="font-2" type="submit">Sign Up</button>
            </div>
            <a href="login" class="login font-1">Back To Login</a>
        </form>
    </div>
</body>
</html>
